@import "~style/vars";

.forrest {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-row {
        display: flex;
        justify-content: space-between;

        &:nth-child(odd) {
            transform: translateX(-3px);
        }

        &:nth-child(even) {
            transform: translateX(3px);
        }
    }

    &-element {
        height: 30px;
        width: 30px;
        fill: none;

        &--active {
            fill: @green;
        }
    }
}
