@import "~style/vars";

.partners {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin: -2rem;

    @media (max-width: @break) {
        margin: -.5rem;
    }
}

.partner {
    list-style: none;
    margin: 2rem;
    flex: 0 0 ~"calc(33% - 4rem)";

    @media (max-width: @break) {
        flex: 0 0 ~"calc(33% - 1rem)";
        margin: .5rem;
    }
}

.image {
    width: 100%;
    position: absolute;
}

.image_container {
    padding-bottom: 100%;
    position: relative;
    border-radius: 50%;
    background: white;
    overflow: hidden;
}