@import '~style/vars';

.cta {
    padding: 1rem 1rem .8rem;
    margin-top: .5rem;
    display: inline-block;
    text-decoration: none;
    font-family: @heading-font;
    -webkit-font-smoothing: antialiased;
    font-size: @font-size-m;
    cursor: pointer;
    background: @bright;
    border: .3rem @green solid;
    color: @dark;

    &:hover {
        background: @green;
        color: @bright;
    }
}
