@import '~style/vars';

.intro {
    background: white;
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 100vh;

    &-fuchs, &-wald {
        flex: 0 0 50%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    &-fuchs {
        svg {
            width: 3rem;
        }
    }

    &-wald {
        svg {
            width: 5rem;
        }
        background: @green;
    }
}

.sub_intro {
    height: 100vh;
    display: flex;
    flex-direction: column;

    &-image {
        flex-grow: 1;
        object-fit: cover;
        object-position: top left;
        overflow: hidden;
    }

    &-heading {
        height: 5rem;
        color: @green;
        text-align: center;

        em {
            color: @red;
            font-style: normal;
        }
    }
}
