@import '~style/vars';

.intro {
    background: white;
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 100vh;

    @media screen and (max-aspect-ratio: 1/1) {
        flex-direction: column;
    }

    &-fuchs, &-wald {
        flex: 0 0 50%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    &-fuchs {
        svg {
            width: 3rem;
        }
    }

    &-wald {
        svg {
            width: 5rem;
        }
        background: @green;
    }
}

.sub_intro {
    height: 100vh;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 5rem;

    &-forrest {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
    }

    &-heading {
        color: @bright;
        background-color: @green;
        display: inline-block;
        padding: 1rem;
        margin: 10rem 2rem;
        line-height: 1;
        max-width: (@contentWidth * .5);
    }

    &-header {
        max-width: @contentWidth;
        flex: 1 1 auto;
        pointer-events: none;
        z-index: 1;
    }
}
