@import "vars";

.section_content {
    padding: 2rem;
    
    @media (max-width: @break) {
        padding: 1rem;
        margin-bottom: 0;
    }

    @media (min-width: @break) {
        display: flex;      
        justify-content: flex-end;
        align-items: center;
        flex-direction: row;
        margin-bottom: 2rem;

        &:not(&--argument) {
            &:nth-of-type(even) {
                flex-direction: row-reverse;

                .section_content-main {
                    margin-left: 2rem;
                }
            }
            
            &:nth-of-type(odd) {
                .section_content-main {
                    margin-right: 2rem;
                }
            }
        }
    }

    &--argument {
        margin: 2rem 0;
        font-size: @font-size-m;

        .section_content-main {
            margin-right: 2rem;
        }
    }

    &-placehoder_graphic {
        background: lightgrey;
        color: darkgrey;
        font-style: italic;
        border: 1px darkgrey solid;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        text-align: center;
    }

    &-graphic {
        &-image {
            width: 100%;
            object-fit: cover;
            height: 30vh;
            max-height: 80vh;

            @media (min-width: @break) {
                height: 40rem;
            }

            &--fuchs, &--fuchse {
                object-fit: contain;
            }
        }
    }

    &-main, &-secondary {
        @media (min-width: @break) {
            flex: 1 1 (@sideMinWidth);
        }
    }

    &-main {
        @width: (@contentWidth / 2);
        max-width: ~"calc(@{width} - 1rem)";

        @media (max-width: @break) {
            margin-bottom: 1rem;
        }
    }

    &-secondary {
        @media (min-width: @break) {
            max-width: ~"calc(50% - 1rem)";
        }
    }

    &--single {
        justify-content: center;
    }

    &-single {
        flex: 0 1 (@contentWidth / 2);
        flex-direction: column;

        &--wide {
            flex-basis: @contentWidth;
        }
    }
}

.circles {
    display: flex;
    margin: -.5rem;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    max-width: (@contentWidth / 2);

    &-circle {
        flex: 0 1 auto;
        width: 33%;
        min-width: 120px;
        padding: .5rem;
    }

    &-image {
        width: 100%;
        margin-bottom: 1rem;
    }

    &-title {
        font-family: @heading-font;
        font-weight: normal;
        margin: 0 -1rem;
    }
}
