body {
    font-family: @body-font;
    font-family: FrutigerLTPro-Light;
    font-weight: 100;
    color: @dark;
}

h1, h2 {
    font-family: @heading-font;
    color: @red;
    font-size: @font-size-l;
    font-weight: normal;
}

h2 {
    font-size: @font-size-m;
    font-weight: normal;
}

a {
    color: inherit;
}
