body {
    font-family: "Frutiger LT STD";
    font-weight: 100;
    color: @dark;
}

h1, h2 {
    font-family: "ITC Lubalin Graph";
    color: @red;
    font-size: @font-size-l;
}

h2 {
    font-size: @font-size-m;
}

a {
    color: inherit;
}
