@import "~style/vars";

.fox {
    width: 4rem;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    background: white;

    &-fox, &-animals {
        flex: 1 0 auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    &-animals {
        justify-content: flex-start;
        transition: all 3s;
    }
}

.animal {
    padding: 1rem 0;

    svg {
        height: 100%;
        fill: @green;
    }

    &--active {
        svg {
            fill: @red;
        }
    }
}