@import "~style/vars";

.section {
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: @break) {
        display: block;
        margin: 4rem 0;
    }
}

.illustration-wrap, .text {
    flex: 0 1 (@contentWidth / 2);
    margin: 1rem;
}

@illustrationBreak: 400px;

.illustration-wrap {
    display: flex;
    align-items: center;

    @media (max-width: @illustrationBreak) {
        flex-direction: column;
        text-align: center;
    }
}

.title {
    @media (max-width: @illustrationBreak) {
        margin-bottom: 0;
    }
}

.illustration {
    width: 33%;
    flex: 0 0 auto;

    @media (min-width: @illustrationBreak) {
        flex-direction: column;
        margin-right: 1rem;
    }
}