@import "~style/vars";

.events {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    list-style: none;
    padding: 0;
}

.event {
    border: .3em solid @red;
    padding: .5rem;
}

.body {
    p {
        font-size: @font-size-s;
    }
}