@import "~style/vars";

.events {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    list-style: none;
    padding: 0;
}

.event {
    border: .5em solid @red;
    
}