@import "~style/vars";

@gridBreak: 600px;
@padding: 1rem;

.events {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    list-style: none;
    padding: 0;

    @media (max-width: 1000px) {
        grid-template-columns: 1fr 1fr; 
    }

    @media (max-width: @gridBreak) {
        display: block;
    }
}

.event {
    padding: @padding;
    background: white;
    display: flex;
    flex-direction: column;

    @media (max-width: @gridBreak) {
        margin-bottom: 1rem;
    }
}

.heading {
    margin-bottom: 0;
}

.body {
    p {
        font-size: @font-size-s;

        &:last-child {
            margin-bottom: 0;
        }

        &:first-child {
            margin-top: 0;
        }
    }
}

.head {
    display: flex;
    height: 8rem;
    margin: -@padding  -@padding 0;

    &_part {
        flex: 0 0 auto;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        &_second {
            background: @green;
        }
    }
}

.illustration {
    height: 4rem;
    width: 4rem;
}

.date {
    color: white;
    font-family: @heading-font;
    font-size: @font-size-m;
    padding-right: .5rem;
    margin-right: .5rem;
    line-height: 1;
}

.year {
    display: flex;
    justify-content: space-between;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex: 1 0 auto;
    margin-top: .5rem;
}