@import '../style/vars';

.hero {
    height: 90vh;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    margin-top: 5rem;
    position: relative;

    &-text {
        width: 50%;
        display: flex;
        justify-content: flex-end;
        color: @bright;

        p {
            text-shadow: 0 0 4px black;
        }

        @media (max-width: 600px) {
            width: 100%;
        }

        > div {
            margin: 1rem;
            flex: 0 1 (@contentWidth / 2);
            display: flex;
            justify-content: center;

            @media (min-width: 600px) {
                margin-bottom: 20vh;
            }
        }
    }

    &-image {
        position: absolute !important;
        z-index: -1;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
}
