.logo {
    display: flex;
    justify-content: center;
    padding: 1rem;

    svg {
        height: 2rem;
        margin-left: -.6em;
    }

    &-container {
        left: 0;
        width: 100%;
        position: fixed;
        bottom: 0;

        &--fixedTop {
            position: absolute;
            top: 100vh;
            bottom: auto;
        }

        &--fixedBottom {
            position: absolute;
            bottom: 50vh;
        }
    }
}
