@import "~style/vars";

.forrest {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.row {
    display: flex;
}

.empty {

}

.tree {
    fill: @green;
}

.fox {
    fill: @red;
}

.element {
    height: 1rem;
    width: 1rem;
}
