@import "~style/vars";

.forrest {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.row {
    display: flex;
}

.empty {

}

.tree {
    fill: @green;
}

.fox {
    fill: @red;
}

.element {
    padding: .15rem;
    height: 2rem;
    width: 2rem;

    &:nth-child(even) {
        transform: translateY(-.2rem);
    }

    &:nth-child(odd) {
        transform: translateY(.2rem);
    }
}
