@import '~style/vars';

.sections {
    @media (min-width: @break) {
        display: flex;
        flex-direction: row;
        margin: -2rem;
    }
}

.section {
    @media (min-width: @break) {
        margin: 2rem;
    }
}

.illustration_container {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.illustration {
    flex: 0 1 15rem;
}