@import '~style/vars';

@breakSections: (@contentWidth * .66);

.sections {
    @media (min-width: @breakSections) {
        display: flex;
        flex-direction: row;
        margin: -2rem;
    }
}

.section {
    @media (min-width: @breakSections) {
        margin: 2rem;
        width: 33.33%;
    }

    @media (max-width: @breakSections) {
        margin-top: 6rem;

        h2, .sub_title {
            text-align: center;
        }
    }
}

.illustration_container {
    display: flex;
    justify-content: center;

    @media (min-width: @breakSections) {
        margin-bottom: 2rem;
    }
}

.illustration {
    flex: 0 1 15rem;

    svg {
        width: 100%;
    }
}

.sub_title {
    margin-bottom: -1.2rem;
    font-style: italic;
}